@import "reset.css";

:root{
    --boxshadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);;
    --palletecolor: rgb(236, 242, 117);
}

body {
    background-color: #75c1ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.contents{
    display: flex;
    width: 100%;
    justify-content: center;
}

.canvas {
    width: 650px;
    height: 650px;
    background-color: white;
    border-radius: 15px;
    box-shadow: var(--boxshadow);
    cursor: url(cursor.cur), auto;
}

.controls {
    border-radius: 5px;
    background-color: var(--palletecolor);
    width: 350px;
    margin-left: 20px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--boxshadow);
}

.controls .controls__logo{
    margin-bottom: 50px;
}

.controls .controls__range{
    margin-bottom: 30px;
}

input[type="range"] {
    width: 250px;
}

.controls .controls__btns {
    margin-bottom: 30px;
}

.controls__btns button,
.controls__save button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    box-shadow: var(--boxshadow);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.controls__btns button:hover{
    background-color: rgb(215, 243, 255);
    transition: .3s ease-in-out;
}

.controls__btns button:active{
    transform: scale(0.98);
}

.controls .controls__colors{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: var(--boxshadow);
}

.controls .controls__curColors{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px 0;
    border-radius: 5px;
}

.controls__curColors h3,
.controls__selects label{
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.8);
}


.controls__curColor{
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--boxshadow);
}


.controls .controls__pallete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.controls .controls__selects{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 30px;
    align-items: flex-end;
}

.controls__selects label{
    margin-right: 2px;
    padding: 0 3px;
}

.controls__selects input{
    width: 110px;
    height: 30px;
    margin-top: 5px;
    padding: 0 5px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
    background-color: var(--palletecolor);
    cursor: pointer;
}

.controls__selects input:hover{
    background-color: #edff48;
}

.controls__color {
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--boxshadow);
}

@keyframes selectColor {
   from {
    }
    to{
        transform: scale(1.2);
    }
}

.controls__colors .controls__color:hover{
    animation: selectColor .5s ease-in-out both;
}

.controls__save {
    width: inherit;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 30px;
}

.controls__save button:hover{
    background-color: pink;
    color: white;
    transition: .3s ease-in-out;
}